Repository rusconn/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore: update GraphCMS GraphQL schema
  src/generated/graphql.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: use graphql-request instead of apollo-client
  package.json
  src/components/common/PostList.tsx
  src/components/common/TagLink.tsx
  src/components/common/TagList.tsx
  src/components/home/Posts.tsx
  src/components/home/Tags.tsx
  src/components/posts/Article.tsx
  src/components/posts/ArticleBody.tsx
  src/components/tags/Posts.tsx
  src/generated/graphql.ts
  src/libs/api.ts
  src/pages/api/posts/preview.ts
  src/pages/index.tsx
  src/pages/posts/[slug].tsx
  src/pages/tags/[slug].tsx
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore: update docker configs
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  docker-compose.yml
  dockerfiles/Dockerfile
Due: none

chore: make devcontainer run yarn when launch
  .devcontainer/docker-compose.yml
Due: none

refactor!(css): use Tailwind CSS instead of emotion
  .devcontainer/devcontainer.json
  .eslintrc.json
  package.json
  postcss.config.js
  src/components/common/PostList.tsx
  src/components/common/TagLink.tsx
  src/components/common/TagList.tsx
  src/components/home/Posts.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/PreviewInfo.tsx
  src/components/layout/SnsLink.tsx
  src/components/posts/Article.tsx
  src/components/posts/ArticleBody.tsx
  src/components/tags/Posts.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/tags/[slug].tsx
  src/styles/globals.css
  src/styles/utils.ts
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor!(css): reduce tailwind arbitrary values
  src/components/common/TagList.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/posts/Article.tsx
  src/pages/index.tsx
  src/pages/tags/[slug].tsx
  src/styles/globals.css
  tailwind.config.js
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor(css): add styled SnsIcon component
  src/components/layout/Footer.tsx
  src/components/layout/SnsIcon.tsx
  src/styles/globals.css
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: move and refine head settings to _document
  src/components/layout/Layout.tsx
  src/pages/_document.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

perf: enable prefetch other pages
  src/components/common/PostList.tsx
  src/components/common/TagLink.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: refine environment variable code
  .devcontainer/docker-compose.yml
  .env
  .env.example
  .gitignore
  codegen.yml
  docker-compose.yml
  src/libs/api.ts
  src/libs/config.ts
  src/libs/env.ts
  src/pages/api/posts/preview.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore: update api schema type
  src/generated/graphql.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

fix: add suppressHydrationWarning to time element
  src/components/common/Date.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

bump: migrate Next.js to 13
  next.config.js
  package.json
  src/components/common/PostList.tsx
  src/components/common/TagLink.tsx
  src/components/layout/BackToHome.tsx
  src/components/layout/Header.tsx
  src/components/layout/PreviewInfo.tsx
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: remove unnecessary infer-next-props-type
  package.json
  src/pages/posts/[slug].tsx
  src/pages/tags/[slug].tsx
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: render markdown in the ArticleBody component itself
  src/app/posts/[slug]/components/Article.tsx
  src/app/posts/[slug]/components/ArticleBody.tsx
  src/app/posts/[slug]/page.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

fix: improve render markdown error message
  src/app/posts/[slug]/components/ArticleBody.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: move notFound() to page
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/page.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: clean graphql code and types
  src/app/common/components/PostList.tsx
  src/app/common/components/TagLink.tsx
  src/app/common/components/TagList.tsx
  src/app/components/Posts.tsx
  src/app/components/Tags.tsx
  src/app/page.tsx
  src/app/posts/[slug]/components/Article.tsx
  src/app/posts/[slug]/components/ArticleBody.tsx
  src/app/posts/[slug]/head.tsx
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/components/Posts.tsx
  src/app/tags/[slug]/head.tsx
  src/app/tags/[slug]/page.tsx
  src/generated/graphql.ts
  src/pages/api/posts/preview.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore: use yarn instead of npm run in npm script
  package.json
Due: npm run fix:format

build: change npm script
  package.json
Due: npm run fix:format

chore(deps): bump eslint and typescript related packages
  package.json
  src/app/common/components/Date.tsx
  src/app/common/components/PostList.tsx
  src/app/common/components/TagLink.tsx
  src/app/common/components/TagList.tsx
  src/app/common/layout/BackToHome.tsx
  src/app/common/layout/Footer.tsx
  src/app/common/layout/Header.tsx
  src/app/common/layout/Layout.tsx
  src/app/common/layout/PreviewInfo.tsx
  src/app/common/layout/ProfileImage.tsx
  src/app/common/layout/SnsIcon.tsx
  src/app/common/layout/SnsLink.tsx
  src/app/components/Biography.tsx
  src/app/components/Posts.tsx
  src/app/components/Tags.tsx
  src/app/head.tsx
  src/app/layout.tsx
  src/app/posts/[slug]/components/Article.tsx
  src/app/posts/[slug]/components/ArticleBody.tsx
  src/app/posts/[slug]/head.tsx
  src/app/posts/[slug]/layout.tsx
  src/app/tags/[slug]/components/Posts.tsx
  src/app/tags/[slug]/head.tsx
  src/app/tags/[slug]/layout.tsx
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: make some page param types reactive
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/page.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: use function declarations to default components
  src/app/head.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/posts/[slug]/head.tsx
  src/app/posts/[slug]/layout.tsx
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/head.tsx
  src/app/tags/[slug]/layout.tsx
  src/app/tags/[slug]/page.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore(deps): bump graphql-codegen related packages
  package.json
  src/generated/graphql.ts
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore(deps): bump graphql and graphql-request
  package.json
  yarn.lock
Due: npm run fix:format

refactor: refine preview code
  src/app/common/layout/Layout.tsx
  src/app/page.tsx
  src/app/posts/[slug]/head.tsx
  src/app/posts/[slug]/layout.tsx
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/head.tsx
  src/app/tags/[slug]/layout.tsx
  src/app/tags/[slug]/page.tsx
  src/libs/api.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: move revalidate config to top
  src/app/page.tsx
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/page.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore(deps): bump react-icons
  package.json
  yarn.lock
Due: npm run fix:format

perf: use High Performance Read-only Content API
  .env
Due: none

chore(dev): bump Node.js to v18
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  docker-compose.yml
  dockerfiles/Dockerfile
  package.json
  yarn.lock
Due: npm run fix:format

refactor: move generateStaticParams to top
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/page.tsx
  src/generated/graphql.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore(deps): bump date-fns
  package.json
  yarn.lock
Due: npm run fix:format

chore(deps): bump prettier
  package.json
  yarn.lock
Due: npm run fix:format

refactor: remove stage params in queries
  src/app/posts/[slug]/head.tsx
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/head.tsx
  src/app/tags/[slug]/page.tsx
  src/generated/graphql.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: use graphql-request middleware
  src/app/page.tsx
  src/app/posts/[slug]/head.tsx
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/head.tsx
  src/app/tags/[slug]/page.tsx
  src/libs/api.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

delete(api)!: remove existence check when previewing posts
  src/generated/graphql.ts
  src/pages/api/posts/preview.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore(deps): bump sharp
  package.json
  yarn.lock
Due: npm run fix:format

add(post): object-oriented
  src/pages/posts/object-oriented.md
Due: none

Path conditions:
  sh -c 'npm run fix:type': any of: *.{ts,tsx}
  npm run fix:lint: any of: *.{js,jsx,ts,tsx}
  npm run fix:format: any of: *.{js,jsx,ts,tsx,json,css}
