Repository rusconn/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

.lintstagedrc.json:

{
  "*.{ts,tsx}": "sh -c 'npm run fix:type'",
  "*.{js,jsx,ts,tsx}": "npm run fix:lint",
  "*.{js,jsx,ts,tsx,json,css}": "npm run fix:format"
}

delete(api)!: remove existence check when previewing posts
  src/generated/graphql.ts
  src/pages/api/posts/preview.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: remove stage params in queries
  src/app/posts/[slug]/head.tsx
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/head.tsx
  src/app/tags/[slug]/page.tsx
  src/generated/graphql.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: refine preview code
  src/app/common/layout/Layout.tsx
  src/app/page.tsx
  src/app/posts/[slug]/head.tsx
  src/app/posts/[slug]/layout.tsx
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/head.tsx
  src/app/tags/[slug]/layout.tsx
  src/app/tags/[slug]/page.tsx
  src/libs/api.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore(deps): bump eslint and typescript related packages
  package.json
  src/app/common/components/Date.tsx
  src/app/common/components/PostList.tsx
  src/app/common/components/TagLink.tsx
  src/app/common/components/TagList.tsx
  src/app/common/layout/BackToHome.tsx
  src/app/common/layout/Footer.tsx
  src/app/common/layout/Header.tsx
  src/app/common/layout/Layout.tsx
  src/app/common/layout/PreviewInfo.tsx
  src/app/common/layout/ProfileImage.tsx
  src/app/common/layout/SnsIcon.tsx
  src/app/common/layout/SnsLink.tsx
  src/app/components/Biography.tsx
  src/app/components/Posts.tsx
  src/app/components/Tags.tsx
  src/app/head.tsx
  src/app/layout.tsx
  src/app/posts/[slug]/components/Article.tsx
  src/app/posts/[slug]/components/ArticleBody.tsx
  src/app/posts/[slug]/head.tsx
  src/app/posts/[slug]/layout.tsx
  src/app/tags/[slug]/components/Posts.tsx
  src/app/tags/[slug]/head.tsx
  src/app/tags/[slug]/layout.tsx
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore(deps): bump graphql and graphql-request
  package.json
  yarn.lock
Due: npm run fix:format

chore(deps): bump graphql-codegen related packages
  package.json
  src/generated/graphql.ts
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore(deps): bump prettier
  package.json
  yarn.lock
Due: npm run fix:format

chore(deps): bump date-fns
  package.json
  yarn.lock
Due: npm run fix:format

chore(deps): bump react-icons
  package.json
  yarn.lock
Due: npm run fix:format

chore(deps): bump sharp
  package.json
  yarn.lock
Due: npm run fix:format

refactor: use function declarations to default components
  src/app/head.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/posts/[slug]/head.tsx
  src/app/posts/[slug]/layout.tsx
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/head.tsx
  src/app/tags/[slug]/layout.tsx
  src/app/tags/[slug]/page.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: move revalidate config to top
  src/app/page.tsx
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/page.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: move generateStaticParams to top
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/page.tsx
  src/generated/graphql.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: make some page param types reactive
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/page.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore(dev): bump Node.js to v18
  .devcontainer.example/Dockerfile
  .devcontainer.example/docker-compose.yml
  docker-compose.yml
  dockerfiles/Dockerfile
  package.json
  yarn.lock
Due: npm run fix:format

perf: use High Performance Read-only Content API
  .env
Due: none

refactor: use graphql-request middleware
  src/app/page.tsx
  src/app/posts/[slug]/head.tsx
  src/app/posts/[slug]/page.tsx
  src/app/tags/[slug]/head.tsx
  src/app/tags/[slug]/page.tsx
  src/libs/api.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

change(css): renewal
  package.json
  src/app/common/components/PostList.tsx
  src/app/common/components/TagLink.tsx
  src/app/common/components/TagList.tsx
  src/app/common/layout/BackToHome.tsx
  src/app/common/layout/Footer.tsx
  src/app/common/layout/Header.tsx
  src/app/common/layout/Layout.tsx
  src/app/common/layout/PreviewInfo.tsx
  src/app/common/layout/ProfileImage.tsx
  src/app/common/layout/SnsLink.tsx
  src/app/components/Biography.tsx
  src/app/components/Posts.tsx
  src/app/components/Tags.tsx
  src/app/components/index.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/posts/[slug]/components/Article.tsx
  src/app/posts/[slug]/components/ArticleBody.tsx
  src/app/posts/[slug]/components/github-markdown.css
  src/app/posts/[slug]/layout.tsx
  src/app/tags/[slug]/components/Posts.tsx
  src/app/tags/[slug]/layout.tsx
  src/app/tags/[slug]/page.tsx
  src/generated/graphql.ts
  src/libs/$path.ts
  src/styles/globals.css
  tailwind.config.js
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore: update docker config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  docker-compose.yml
  docker/Dockerfile
Due: npm run fix:format

build: change package manager to yarn from npm
  .husky/pre-commit
  .lintstagedrc.json
  docker-compose.yml
  package-lock.json
  package.json
  yarn.lock
Due: npm run fix:format

chore: add yarn-cache volume
  docker-compose.yml
Due: none

build: bump up next.js to 12 from 11 and fix config errors
  .eslintrc.json
  .gitignore
  next-env.d.ts
  next.config.js
  package.json
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore: update .env.example
  .env.example
Due: none

feat: add twitter link to footer
  src/components/layout.module.css
  src/components/layout.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

feat: add tags pages
  .devcontainer/devcontainer.json
  src/libs/$path.ts
  src/libs/api.ts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/pages/tags/[id].tsx
  src/styles/utils.module.css
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: change cms to GraphCMS to use GraphQL
  .devcontainer/devcontainer.json
  .env.example
  .eslintignore
  .eslintrc.json
  .husky/pre-commit
  .prettierignore
  codegen.yml
  docker-compose.yml
  package.json
  src/generated/graphql.ts
  src/libs/$path.ts
  src/libs/api.ts
  src/libs/config.ts
  src/pages/api/posts/preview.ts
  src/pages/index.tsx
  src/pages/posts/[slug].tsx
  src/pages/tags/[id].tsx
  src/pages/tags/[slug].tsx
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: use emotion instead of css modules
  .devcontainer/devcontainer.json
  package.json
  src/components/layout.module.css
  src/components/layout.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/posts/[slug].tsx
  src/pages/tags/[slug].tsx
  src/styles/globals.css
  src/styles/utils.ts
  tsconfig.json
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

feat: support dark mode
  package.json
  src/components/layout.tsx
  src/pages/_app.tsx
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

feat(css): reduce header margin between img and name
  src/styles/utils.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: add and use infer-next-props-type
  package.json
  src/pages/posts/[slug].tsx
  src/pages/tags/[slug].tsx
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: separate components
  src/components/common/Date.tsx
  src/components/common/PostList.tsx
  src/components/common/TagLink.tsx
  src/components/common/TagList.tsx
  src/components/common/index.ts
  src/components/home/Biography.tsx
  src/components/home/Posts.tsx
  src/components/home/Tags.tsx
  src/components/home/index.ts
  src/components/layout.tsx
  src/components/layout/BackToHome.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/PreviewInfo.tsx
  src/components/layout/ProfileImage.tsx
  src/components/layout/SnsLink.tsx
  src/components/layout/index.ts
  src/components/posts/Article.tsx
  src/components/posts/ArticleBody.tsx
  src/components/posts/index.ts
  src/components/tags/Posts.tsx
  src/components/tags/index.ts
  src/constants/index.ts
  src/constants/site.ts
  src/pages/index.tsx
  src/pages/posts/[slug].tsx
  src/pages/tags/[slug].tsx
  src/styles/utils.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

feat(css): increase article body h2 margin
  src/components/posts/ArticleBody.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

feat(css): increase back to home top margin
  src/components/layout/Layout.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

feat!: improve code syntax highlight
  package.json
  src/components/posts/Article.tsx
  src/components/posts/ArticleBody.tsx
  src/generated/graphql.ts
  src/libs/html.ts
  src/pages/posts/[slug].tsx
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

feat(css): increase contrast of links and light texts
  src/components/common/TagLink.tsx
  src/components/layout/SnsLink.tsx
  src/pages/_app.tsx
  src/styles/utils.ts
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

chore: use eslint cache
  .gitignore
  package.json
Due: npm run fix:format

fix: fix and add error handlings
  .eslintrc.json
  src/pages/api/posts/preview.ts
  src/pages/index.tsx
  src/pages/posts/[slug].tsx
  src/pages/tags/[slug].tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

feat(css): add underline to a:hover
  src/components/common/TagLink.tsx
  src/components/layout/Header.tsx
  src/pages/_app.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

feat(css): change tag style
  src/components/common/TagLink.tsx
  src/pages/_app.tsx
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format

refactor: use fragment colocation
  codegen.yml
  package.json
  src/components/common/PostList.tsx
  src/components/common/TagLink.tsx
  src/components/common/TagList.tsx
  src/components/home/Posts.tsx
  src/components/home/Tags.tsx
  src/components/posts/Article.tsx
  src/components/posts/ArticleBody.tsx
  src/components/tags/Posts.tsx
  src/generated/graphql.ts
  src/pages/index.tsx
  src/pages/posts/[slug].tsx
  src/pages/tags/[slug].tsx
  yarn.lock
Due: sh -c 'npm run fix:type', npm run fix:lint, npm run fix:format
