Repository rusconn/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": "sh -c 'tsc --noEmit'",
  "*.{js,jsx,ts,tsx}": "eslint src --cache --fix",
  "*.{js,jsx,ts,tsx,json,css}": "prettier --write"
}

chore(dev): remove lint-staged and husky
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: .tsx -> .astro
  astro.config.mjs
  pnpm-lock.yaml
  src/components/Date.astro
  src/components/Date.tsx
  src/components/PostLink.astro
  src/components/PostLink.tsx
  src/components/PostList.astro
  src/components/PostList.tsx
  src/components/PostsNav.astro
  src/components/PostsNav.tsx
  src/components/TagLink.astro
  src/components/TagLink.tsx
  src/components/TagList.astro
  src/components/TagList.tsx
  src/components/TagsNav.astro
  src/components/TagsNav.tsx
  src/components/index.ts
  src/layout/Footer.astro
  src/layout/PostLayout.astro
  src/pages/index.astro
  src/pages/tags/[slug]/index.astro
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

chore(deps): bump Next.js from 13.1.0 to 13.1.2
  package.json
  yarn.lock
Due: prettier --write

chore(dev): use Devbox instead of Docker
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .env
  .gitignore
  .vscode/extensions.json
  README.md
  devbox.json
  docker-compose.yml
  dockerfiles/Dockerfile
  package.json
Due: prettier --write

change!: add trailing slashes
  astro.config.mjs
  firebase.json
  src/components/TagLink.tsx
  src/pages/index.astro
  src/pages/tags/[slug]/index.astro
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

chore(dev): use VOLTA instead of Docker
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .gitignore
  .vscode/extensions.json
  README.md
  docker-compose.yml
  dockerfiles/Dockerfile
  package.json
  yarn.lock
Due: prettier --write

chore: add login script
  package.json
Due: prettier --write

add(post): readability
  src/pages/posts/readability.md
Due: none

fix(dev): fix prettier config
  .lintstagedrc.json
  .prettierrc.json
  .prettierrc.mjs
  package.json
  pnpm-lock.yaml
  src/layout/Layout.astro
  src/types.ts
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

chore(deps): bump Next.js from 13.0.7 to 13.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): move pathpida to devDependencies
  package.json
Due: prettier --write

chore(config): specify firebase project by cli option
  .firebaserc
  package.json
Due: prettier --write

chore: autogen sitemap and robots.txt
  .gitignore
  next-sitemap.config.js
  package.json
  public/robots.txt
  src/libs/$path.ts
  tsconfig.eslint.json
  yarn.lock
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

chore(deps): bump Next.js from 13.0.6 to 13.0.7
  package.json
  yarn.lock
Due: prettier --write

chore(dev): exclude pathpida output from formating and linting
  .eslintignore
  .prettierignore
  src/libs/$path.ts
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

chore(deps): use system global firebase-cli
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(deps): upgrade astro and other needed packages
  package.json
  pnpm-lock.yaml
  src/components/Date.tsx
  src/layout/Footer.astro
  tsconfig.json
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

Revert "chore(dev): use Devbox instead of Docker"
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .env
  .gitignore
  .vscode/extensions.json
  README.md
  devbox.json
  docker-compose.yml
  dockerfiles/Dockerfile
  package.json
Due: prettier --write

chore: add google-site-verification
  src/app/layout.tsx
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

chore: refine title and description
  src/app/head.tsx
  src/app/layout.tsx
  src/app/posts/[slug]/head.tsx
  src/app/tags/[slug]/head.tsx
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

edit: update build-development-environment.md
  src/pages/posts/build-development-environment.md
Due: none

refactor: clean some markups and styles
  src/layout/Footer.astro
  src/layout/Header.astro
  src/layout/Layout.astro
Due: none

Firebase
  .devcontainer/Dockerfile
  .devcontainer/docker-compose.yml
  .eslintignore
  .firebaserc
  .gitignore
  .prettierignore
  docker-compose.yml
  dockerfiles/Dockerfile
  firebase.json
  package.json
  src/layout/Layout.astro
Due: prettier --write

chore(dev): VOLTA -> Corepack
  README.md
  package.json
Due: prettier --write

chore(dev): use pnpm instead of Yarn v1
  .eslintignore
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

chore(dev): fix editor errors
  .eslintrc.json
  .vscode/settings.json
  tsconfig.json
Due: prettier --write

Markdown pages
  .prettierignore
  astro.config.mjs
  package.json
  src/components/PostLink.tsx
  src/components/PostList.tsx
  src/components/PostsNav.tsx
  src/components/posts/Article.tsx
  src/components/posts/ArticleBody.tsx
  src/components/posts/index.ts
  src/components/posts/prism.css
  src/layout/Layout.astro
  src/layout/PostLayout.astro
  src/pages/index.astro
  src/pages/posts/[slug]/index.astro
  src/pages/posts/build-development-environment.md
  src/pages/posts/start-blog.md
  src/pages/tags/[slug]/index.astro
  src/types.ts
  yarn.lock
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

fix(dev): fix lint-staged scripts
  .lintstagedrc.json
Due: prettier --write

feat: add some og related elements
  public/images/og.jpg
  src/app/head.tsx
  src/app/layout.tsx
  src/app/posts/[slug]/head.tsx
  src/app/tags/[slug]/head.tsx
  src/generated/graphql.ts
  src/libs/$path.ts
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

change(css): renewal
  .devcontainer/devcontainer.json
  .prettierignore
  next.config.js
  package.json
  src/app/common/components/PostLink.tsx
  src/app/common/components/PostList.tsx
  src/app/common/components/PostsNav.tsx
  src/app/common/components/TagLink.tsx
  src/app/common/components/TagList.tsx
  src/app/common/components/TagsNav.tsx
  src/app/common/components/index.ts
  src/app/common/layout/BackToHome.tsx
  src/app/common/layout/Footer.tsx
  src/app/common/layout/Header.tsx
  src/app/common/layout/Layout.tsx
  src/app/common/layout/PreviewInfo.tsx
  src/app/common/layout/ProfileImage.tsx
  src/app/common/layout/SnsLink.tsx
  src/app/components/Biography.tsx
  src/app/components/Posts.tsx
  src/app/components/Tags.tsx
  src/app/components/index.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/app/posts/[slug]/components/Article.tsx
  src/app/posts/[slug]/components/ArticleBody.tsx
  src/app/posts/[slug]/components/github-markdown.css
  src/app/posts/[slug]/components/prism.css
  src/app/posts/[slug]/layout.tsx
  src/app/tags/[slug]/components/Posts.tsx
  src/app/tags/[slug]/components/index.ts
  src/app/tags/[slug]/layout.tsx
  src/app/tags/[slug]/page.tsx
  src/generated/graphql.ts
  src/styles/globals.css
  tailwind.config.js
  yarn.lock
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

fix!: change date from UTC to JST
  package.json
  src/app/common/components/Date.tsx
  yarn.lock
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

change!: remove trailing slashes
  astro.config.mjs
  firebase.json
  src/components/TagLink.tsx
  src/pages/index.astro
  src/pages/tags/[slug]/index.astro
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

chore(dev): change ESLint config, improve editor integration
  .eslintrc.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/layout/Footer.astro
  src/layout/Layout.astro
Due: prettier --write

chore(dev): use cache for prettier
  package.json
Due: prettier --write

chore(dev): add `check` script
  package.json
Due: prettier --write

chore(deps): Astro v4, and others
  package.json
  pnpm-lock.yaml
Due: prettier --write

add(post): prototype-extension-in-ts
  src/constants.ts
  src/pages/posts/prototype-extension-in-ts.md
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

refactor: use Content Collections to posts
  .eslintignore
  .gitignore
  .prettierignore
  src/components/Date.astro
  src/components/PostLink.astro
  src/components/PostList.astro
  src/content/config.ts
  src/content/posts/build-development-environment.md
  src/content/posts/object-oriented.md
  src/content/posts/prototype-extension-in-ts.md
  src/content/posts/readability.md
  src/content/posts/start-blog.md
  src/env.d.ts
  src/layout/PostLayout.astro
  src/pages/index.astro
  src/pages/posts/[...slug].astro
  src/pages/tags/[slug]/index.astro
  src/types.ts
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

feat: use View Transitions
  src/layout/Layout.astro
Due: none
