Repository rusconn/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'npm run typecheck', npm run lint:fix, npm run format

.lintstagedrc.json:

{
  "*.{ts,tsx}": "sh -c 'npm run typecheck'",
  "*.{js,jsx,ts,tsx}": "npm run lint:fix",
  "*.{js,jsx,ts,tsx,json,css}": "npm run format"
}

Add blog pages
  package-lock.json
  package.json
  public/favicon.ico
  public/images/profile.png
  public/vercel.svg
  src/components/date.tsx
  src/components/layout.module.css
  src/components/layout.tsx
  src/libs/api.ts
  src/libs/config.ts
  src/libs/routes.ts
  src/pages/_app.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/styles/Home.module.css
  src/styles/globals.css
  src/styles/utils.module.css
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

Add robots.txt
  public/robots.txt
Due: none

Add lang attr to html element
  src/pages/_document.tsx
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

Add sharp library for production image optimization
  package-lock.json
  package.json
Due: npm run format

Support microCMS preview
  src/components/layout.module.css
  src/components/layout.tsx
  src/libs/config.ts
  src/libs/routes.ts
  src/pages/api/exitPreview.ts
  src/pages/api/posts/preview.ts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

Use docker
  docker-compose.yml
  docker/Dockerfile
Due: none

Use pathpida
  .eslintrc.json
  package-lock.json
  package.json
  src/components/layout.tsx
  src/libs/$path.ts
  src/libs/routes.ts
  src/pages/api/exitPreview.ts
  src/pages/index.tsx
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

Apply github style css to posts
  package-lock.json
  package.json
  src/pages/posts/[id].tsx
  src/styles/utils.module.css
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

Use path alias
  src/components/layout.tsx
  src/libs/api.ts
  src/pages/_app.tsx
  src/pages/api/exitPreview.ts
  src/pages/api/posts/preview.ts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  tsconfig.json
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

Clean npm scripts
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: npm run format

chore: add `yarn-cache` volume
  docker-compose.yml
Due: none

build: bump up `next.js` to 12 from 11 and fix config errors
  .eslintrc.json
  .gitignore
  next-env.d.ts
  next.config.js
  package.json
  tsconfig.eslint.json
  tsconfig.json
  yarn.lock
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

chore: update `docker` config
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  docker-compose.yml
  docker/Dockerfile
Due: npm run format

build: change package manager to `yarn` from `npm`
  .husky/pre-commit
  .lintstagedrc.json
  docker-compose.yml
  package-lock.json
  package.json
  yarn.lock
Due: npm run format

chore: add `.env.example`
  .env.example
Due: none

Apply syntax highlights to posts codes
  package-lock.json
  package.json
  src/libs/html.ts
  src/pages/posts/[id].tsx
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

feat: add `tags` pages
  .devcontainer/devcontainer.json
  src/libs/$path.ts
  src/libs/api.ts
  src/pages/index.tsx
  src/pages/posts/[id].tsx
  src/pages/tags/[id].tsx
  src/styles/utils.module.css
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: change cms to `GraphCMS` to use `GraphQL`
  .devcontainer/devcontainer.json
  .env.example
  .eslintignore
  .eslintrc.json
  .husky/pre-commit
  .prettierignore
  codegen.yml
  docker-compose.yml
  package.json
  src/generated/graphql.ts
  src/libs/$path.ts
  src/libs/api.ts
  src/libs/config.ts
  src/pages/api/posts/preview.ts
  src/pages/index.tsx
  src/pages/posts/[slug].tsx
  src/pages/tags/[id].tsx
  src/pages/tags/[slug].tsx
  yarn.lock
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

feat: add `twitter` link to `footer`
  src/components/layout.module.css
  src/components/layout.tsx
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

feat(css): `reduce` header `margin` between img and name
  src/styles/utils.ts
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: use `emotion` instead of `css modules`
  .babelrc
  .devcontainer/devcontainer.json
  package.json
  src/components/layout.module.css
  src/components/layout.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/posts/[slug].tsx
  src/pages/tags/[slug].tsx
  src/styles/globals.css
  src/styles/utils.ts
  tsconfig.json
  yarn.lock
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

feat: support `dark mode`
  package.json
  src/components/layout.tsx
  src/pages/_app.tsx
  yarn.lock
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: add and use `infer-next-props-type`
  package.json
  src/pages/posts/[slug].tsx
  src/pages/tags/[slug].tsx
  yarn.lock
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

refactor: separate components
  src/components/common/Date.tsx
  src/components/common/PostList.tsx
  src/components/common/TagLink.tsx
  src/components/common/TagList.tsx
  src/components/common/index.ts
  src/components/home/Biography.tsx
  src/components/home/Posts.tsx
  src/components/home/Tags.tsx
  src/components/home/index.ts
  src/components/layout.tsx
  src/components/layout/BackToHome.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/PreviewInfo.tsx
  src/components/layout/ProfileImage.tsx
  src/components/layout/SnsLink.tsx
  src/components/layout/index.ts
  src/components/posts/Article.tsx
  src/components/posts/ArticleBody.tsx
  src/components/posts/index.ts
  src/components/tags/Posts.tsx
  src/components/tags/index.ts
  src/constants/index.ts
  src/constants/site.ts
  src/pages/index.tsx
  src/pages/posts/[slug].tsx
  src/pages/tags/[slug].tsx
  src/styles/utils.ts
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format

Use docker
  .env.example
  docker-compose.yml
  docker/Dockerfile
Due: none

chore: update `docker` config
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  docker-compose.yml
  docker/Dockerfile
Due: npm run format

chore: update `.env.example`
  .env.example
Due: none

refactor: use `emotion` instead of `css modules`
  .devcontainer/devcontainer.json
  package.json
  src/components/layout.module.css
  src/components/layout.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  src/pages/posts/[slug].tsx
  src/pages/tags/[slug].tsx
  src/styles/globals.css
  src/styles/utils.ts
  tsconfig.json
  yarn.lock
Due: sh -c 'npm run typecheck', npm run lint:fix, npm run format
