Repository rusconn/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

refactor: don't use ComponentProps
  src/components/Date.astro
  src/components/PostLink.astro
  src/components/PostList.astro
  src/components/PostsNav.astro
  src/components/TagLink.astro
  src/components/TagList.astro
  src/components/TagsNav.astro
  src/layout/Footer.astro
  src/pages/tags/[slug]/index.astro
Due: none

refactor: Tailwind CSS -> Astro <style> element
  .eslintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/components/PostLink.astro
  src/components/PostList.astro
  src/components/PostsNav.astro
  src/components/TagLink.astro
  src/components/TagList.astro
  src/layout/Footer.astro
  src/layout/Header.astro
  src/layout/Layout.astro
  src/layout/PostLayout.astro
  src/layout/ProfileImage.astro
  src/layout/SnsLink.astro
  src/styles/globals.css
  src/styles/tailwindcss-preflight.css
  tailwind.config.js
Due: eslint src --cache --fix, prettier --write

refactor: react-icons -> svg, drop react packages
  .vscode/settings.json
  astro.config.mjs
  jsx.d.ts
  package.json
  pnpm-lock.yaml
  src/icons/GitHub.astro
  src/icons/Twitter.astro
  src/layout/Header.astro
  src/layout/SnsIcon.astro
  tsconfig.eslint.json
  tsconfig.json
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

change(html): site title: h1 -> span
  src/components/PostLink.astro
  src/components/PostsNav.astro
  src/content/posts/build-development-environment.md
  src/content/posts/prototype-extension-in-ts.md
  src/layout/Header.astro
  src/layout/PostLayout.astro
Due: none

refactor: drop date-fns and date-fns-tz
  package.json
  pnpm-lock.yaml
  src/components/Date.astro
Due: prettier --write

change: remove generator info
  src/layout/Layout.astro
Due: none

refactor: clean codes
  package.json
  pnpm-lock.yaml
  src/components/Date.astro
  src/components/PostLink.astro
  src/components/PostList.astro
  src/components/PostsNav.astro
  src/components/TagLink.astro
  src/components/TagList.astro
  src/components/TagsNav.astro
  src/constants.ts
  src/icons/GitHub.astro
  src/icons/Twitter.astro
  src/layout/Footer.astro
  src/layout/Header.astro
  src/layout/PostLayout.astro
  src/layout/ProfileImage.astro
  src/layout/SnsLink.astro
  src/pages/posts/[...slug].astro
  src/pages/tags/[slug]/index.astro
Due: sh -c 'tsc --noEmit', eslint src --cache --fix, prettier --write

Path conditions:
  sh -c 'tsc --noEmit': any of: *.{ts,tsx}
  eslint src --cache --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css}
